<?xml version="1.0" ?>
<config>
    <modules>
        <Shipping_Insurance>
            <version>0.0.1</version>
        </Shipping_Insurance>
    </modules>
    <global>
        <models>
            <insurance>
                <class>Shipping_Insurance_Model</class>
            </insurance>
        </models>
        <helpers>
            <shipping_insurance>
                <class>Shipping_Insurance_Helper</class>
            </shipping_insurance>
            <adminhtml_shipping_insurance>
                        <class>Shipping_Insurance_Helper_Adminhtml</class>
            </adminhtml_shipping_insurance>
        </helpers>
        <blocks>
            <insurance>
                <class>Shipping_Insurance_Block</class>
            </insurance>
            <checkout>
                <rewrite>
                    <onepage>Shipping_Insurance_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>insurance/sales_quote_address_total_insurance</class>
                    </insurance>
                </totals>
            </quote>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <insurance module="Shipping_Insurance">
                    <file>shipping_insurance.xml</file>
                </insurance>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <shipping_insurance before="Mage_Checkout">Shipping_Insurance</shipping_insurance>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <insurance>
                    <file>shipping_insurance.xml</file>
                </insurance>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <insurance_options>
                                            <title>Shipping Insurance Section</title>
                                        </insurance_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>