<?xml version="1.0" ?>
<config>
    <modules>
        <Shipping_Insurance>
            <version>0.1.1</version>
        </Shipping_Insurance>
    </modules>
    <global>
        <models>
            <insurance>
                <class>shipping_insurance_model</class>
            </insurance>
        </models>
        <helpers>
            <shipping_insurance>
                <class>shipping_insurance_helper</class>
            </shipping_insurance>
            <adminhtml_shipping_insurance>
                        <class>shipping_insurance_helper_adminhtml</class>
            </adminhtml_shipping_insurance>
        </helpers>
        <blocks>
            <insurance>
                <class>shipping_insurance_block</class>
            </insurance>
            <checkout>
                <rewrite>
                    <onepage>shipping_insurance_block_checkout_onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>insurance/sales_quote_address_total_insurance</class>
                    </insurance>
                </totals>
            </quote>
            <order>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_total_insurance</class>
                    </insurance>
                </totals>
            </order>
            <order_invoice>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_total_invoice_insurance</class>
                    </insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>insurance/sales_order_total_creditmemo_insurance</class>
                    </insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <resources>
            <insurance_setup>
                <setup>
                    <module>Shipping_Insurance</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </insurance_setup>
        </resources>
        <events>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <shipping_method_insurance>
                        <type>singleton</type>
                        <class>insurance/observer</class>
                        <method>saveShippingMethod</method>
                    </shipping_method_insurance>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
            <sales_order_save_before>
                <observers>
                    <save_order_insurance>
                        <type>singleton</type>
                        <class>insurance/observer</class>
                        <method>saveOrderBefore</method>
                    </save_order_insurance>
                </observers>
            </sales_order_save_before>
            <sales_order_invoice_save_before>
                <observers>
                    <insurance_invoice_save_after>
                        <class>insurance/observer</class>
                        <method>invoiceSaveBefore</method>
                    </insurance_invoice_save_after>
                </observers>
            </sales_order_invoice_save_before>
            <sales_order_creditmemo_save_before>
                <observers>
                    <insurance_creditmemo_save_before>
                        <class>insurance/observer</class>
                        <method>creditmemoSaveBefore</method>
                    </insurance_creditmemo_save_before>
                </observers>
            </sales_order_creditmemo_save_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <insurance module="Shipping_Insurance">
                    <file>shipping_insurance.xml</file>
                </insurance>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <insurance>
                    <file>shipping_insurance.xml</file>
                </insurance>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <insurance_options>
                                            <title>Shipping Insurance Section</title>
                                        </insurance_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>